AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT=your_endpoint_here
AZURE_DOCUMENT_INTELLIGENCE_KEY=your_key_here

AZURE_FOUNDRY_ENDPOINT=your_foundry_project_endpoint
MAMA_AGENT_NAME=your_agent_name
MAMA_AGENT_VERSION=your_agent_version

AZURE_SPEECH_KEY=
AZURE_SPEECH_REGION=

AZURE_STORAGE_CONNECTION_STRING=여기에_연결_문자열
AZURE_STORAGE_CONTAINER=mama-health-data